<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>Country Example</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <context-param>
		<param-name>url</param-name>
		<param-value>jdbc:postgresql://databanken.ucll.be:51819/webontwerp</param-value>
	</context-param>
	<context-param>
		<param-name>user</param-name>
		<param-value>local_u0034562</param-value>
	</context-param>
	<context-param>
		<param-name>password</param-name>
		<param-value>bè2JVgcJVgK:0O</param-value>
	</context-param>
	<context-param>
		<param-name>currentSchema</param-name>
		<param-value>web3</param-value>
	</context-param>
	<context-param>
		<param-name>ssl</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>sslfactory</param-name>
		<param-value>org.postgresql.ssl.NonValidatingFactory</param-value>
	</context-param>
	<context-param>
		<param-name>sslmode</param-name>
		<param-value>prefer</param-value>
	</context-param>
</web-app>